body {
	background-color: #f3f3f3;
}

#panel {
	z-index: 2000;
	position: relative;
}

[class*="bx-core-popup-menu-"] {
	z-index: 2100 !important;
}

.navbar {
	z-index: 1500;
	/*margin-top: 39px;*/
}

.p a {
	color: #a28671;
}

.pages {
	padding-top: 80px;
}

.pages .post-right {
	text-align: right;
}

.row_filter {
	margin-bottom: 20px;
}

.filter-select {
	width: 100%;
}